body {
  min-height: 100vh;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-brand.title {
  font-weight: bold;
  font-size: 1.5em;
}

.item {
  align-items: center;
}

.name {
  font-weight: 500;
  font-size: 1.1em;
}

.edit-delete {
  display: flex;
}

.edit {
  width: 40px;
  margin-right: 10px;
}

.add {
  margin-right: 10px;
}
